.navbar-fixed-left
  background-image: none
  background-color: $navColor
  width: $navWidth
  position: fixed
  border-radius: 0
  height: 100%
  left: 0
  ul
    width: 100%
    li
      padding-top: 10px
      float: none
      a
        text-align: center
        color: $navItemColor
        font-weight: bolder
        &:hover
          color: $navItemColorHover
      .dropdown-menu
        margin-top: -50px
        margin-left: $navWidth
