.card.card-block
  h4.card-title Bundesliga Points
  .card-block
    div(id='points_chart')

.card.card-block
  h4.card-title Bundesliga Points %
  .card-block
    div(id='points_percent_chart')


script(src='../js/chart.js')
