.card.card-block
  h4.card-title Bundesliga Points
  .card-block
    .chart(id='points_chart')

.card.card-block
  h4.card-title Bundesliga Points %
  .card-block
    .chart(id='points_percent_chart')

.card.card-block
  h4.card-title Bundesliga Place %
  .card-block
    .chart(id='place_percent_chart')

.card.card-block
  h4.card-title Bundesliga Place
  .card-block
    .chart(id='place_chart')


script(src='../js/chart.js')
