.card-coloumns

  select#league.card.form-control(onchange="loadSeason();")
    option(selected=true, value="bl1") 1. Bundesliga
    option(value="bl2") 2. Bundesliga
    option(value="bl3") 3. Bundesliga

  select#season.card.form-control(onchange="loadSeason();")
    option(selected=true, value="2018") 2018/19
    option(value="2017") 2017/18
    option(value="2016") 2016/17
    option(value="2015") 2015/16
    option(value="2014") 2014/15
    option(value="2013") 2013/14
    option(value="2012") 2012/13
    option(value="2011") 2011/12
    option(value="2010") 2010/11
    option(value="2009") 2009/10
    option(value="2008") 2008/09
    option(value="2007") 2007/08
    option(value="2006") 2006/07
    option(value="2005") 2005/06
    option(value="2004") 2004/05
    option(value="2003") 2003/04
    option(value="2002") 2002/03

  div(id='points').card
    .card-body
      h4.card-title Bundesliga Points
      h6.card-subtitle Total points by match day
      .chart(id='points_chart')

  div(id='pointsP').card
    .card-body
      h4.card-title Bundesliga Points %
      h6.card-subtitle Percentage of points received out of all possible points (3 per match day)
      .card-body
        .chart(id='points_percent_chart')

  div(id='placeP').card
    .card-body
      h4.card-title Bundesliga Place %
      h6.card-subtitle Points compared to the first place (in Percent)
      .card-body
        .chart(id='place_percent_chart')

  div(id='place').card
    .card-body
      h4.card-title Bundesliga Place
      h6.card-subtitle Placement in the league table
      .card-body
        .chart(id='place_chart')


script(src='chart.js')
