.card-coloumns

  div(id='points').card
    .card-body
      h4.card-title Bundesliga Points
      h6.card-subtitle Total points by match day
      .chart(id='points_chart')

  div(id='pointsP').card
    .card-body
      h4.card-title Bundesliga Points %
      h6.card-subtitle Percentage of points received out of all possible points (3 per match day)
      .card-body
        .chart(id='points_percent_chart')

  div(id='placeP').card
    .card-body
      h4.card-title Bundesliga Place %
      h6.card-subtitle Points compared to the first place (in Percent)
      .card-body
        .chart(id='place_percent_chart')

  div(id='place').card
    .card-body
      h4.card-title Bundesliga Place
      h6.card-subtitle Placement in the league table
      .card-body
        .chart(id='place_chart')


script(src='chart.js')
