.navbar-fixed-left
  // Position
  position: fixed
  left: 0
  width: $navWidth
  height: 100%
  padding: 0px !important
  padding-top: $navTopPadding
  // Style
  background-color: $navColor
  border-radius: 0
  border-right: $navBorderWidth solid $navBorderColor
  ul
    width: 100%
    margin-bottom: 180px 
    li
      width: 100%
      text-align: center
      .nav-link

        font-size: 1.5em
        padding-top: $navlinkPadding
        padding-bottom: $navlinkPadding
        margin-top: $navlinkMargin
        margin-bottom: $navlinkMargin
        background-color: $navlinkBGColor
        color: $navlinkColor
        border: $navlinkBorderWidth $navlinkBorderColor solid
        border-left: 0px
        border-right: 0px
        &:hover
          background-color: $navlinkHoverColor
