html
	head
		script(src="vendor/Chart.bundle.min.js", type="text/javascript")
		script(src="main.min.js", type="text/javascript")

		link(href="main.min.css", rel="stylesheet")
		title Bundesliga Charts
	body
		block content
