.navbar.navbar-dark.navbar-fixed-left
	ul.nav.navbar-nav(id='links')
		li: a.nav-link(href='#points', onclick="window.location.replace('#points')") Points
		li: a.nav-link(href='#pointsP', onclick="window.location.replace('#pointsP')") Points %
		li: a.nav-link(href='#placeP', onclick="window.location.replace('#placeP')") Place %
		li: a.nav-link(href='#place', onclick="window.location.replace('#place')") Place
