.navbar.navbar-dark.navbar-fixed-left
	a.brand(href='#'): img(src='brand.png')
	
	//- ul.nav.navbar-nav(id='links')
	//- 	li: a.nav-link(href='#points') Points
	//- 	li: a.nav-link(href='#pointsP') Points %
	//- 	li: a.nav-link(href='#placeP') Place %
	//- 	li: a.nav-link(href='#place') Place
