extends _base

block content

	h1 Bundesliga Charts

	select#league(onchange="load();")
		option(selected=true, value="bl1") 1. Bundesliga
		option(value="bl2") 2. Bundesliga
		option(value="bl3") 3. Bundesliga

	select#season(onchange="load();")


	.chart-container
		h2 Points
		canvas#pointChart
	.chart-container
		h2
			| Prediction&nbsp;
			span(title="Point total at the end of the season using real points up to the match day and predictions afterwards. This means the first match day has only predictions and the last only real data. Predictions are continuous, not fixed to normal 0,1,3 points.") ⓘ
		canvas#prediction
	.chart-container
		h2 Percent of max points
		canvas#percentChart
	.chart-container
		h2 Place (only on points)
		canvas#place

	.footer
		p Data from #[a(href="https://www.openligadb.de/") www.openligadb.de] | Source code #[a(href="https://github.com/TimothyEarley/Bundesliga-charts") here] | #[input(type="checkbox",id="toggle3",checked)] Toggle 3 Point Stripe
