extends _base

block content

	h1 Bundesliga Charts

	select#league(onchange="load();")
		option(selected=true, value="bl1") 1. Bundesliga
		option(value="bl2") 2. Bundesliga
		option(value="bl3") 3. Bundesliga

	select#season(onchange="load();")


	.chart-container
		h2 Points
		canvas#pointChart
	.chart-container
		h2 Percent of max points
		canvas#percentChart
	.chart-container
		h2 Place (only on points)
		canvas#place
	.chart-container
		h2 Expected Points at end of season
		canvas#prognose

	.footer
		p Data from #[a(href="https://www.openligadb.de/") www.openligadb.de] | Prognose scraped from #[a(href="https://www.bundesliga-prognose.de") bundesliga-prognose.de] | Source code #[a(href="https://github.com/TimothyEarley/Bundesliga-charts") here] | #[input(type="checkbox",id="toggle3",checked)] Toggle 3 Point Stripe
