.navbar.navbar-fixed-left
	//- TODO image
	a.navbar-brand(href='#') Home

	ul.nav.navbar-nav
		li: a(href='#') Link2
		li: a(href='#') Link3
		li: a(href='#') Link4
		li: a(href='#') Link5

//- collapse

//- .collapse(id='navbar')
//- button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar') &#9776;


//- Example:
//-
//- .navbar.navbar-inverse.navbar-fixed-left
//- 	a.navbar-brand(href='#') Brand
//- 	ul.nav.navbar-nav
//- 		li.dropdown // Start of dropdown
//- 			a.dropdown-toggle(href='#', data-toggle='dropdown') Dropdown
//- 				span.caret
//- 			ul.dropdown-menu(role='menu')
//- 				li: a(href='#') Sub Menu1
//- 				li: a(href='#') Sub Menu2
//- 				li: a(href='#') Sub Menu3
//- 				li.divider
//- 				li: a(href='#') Sub Menu4
//- 				li: a(href='#') Sub Menu5
//-
//-
//- 		li: a(href='#') Link2
//- 		li:	a(href='#') Link3
//- 		li: a(href='#') Link4
//- 		li: a(href='#') Link5
