.navbar.navbar-dark.navbar-fixed-left
	a.brand(href='#'): img(src='../assets/brand.png')

	ul.nav.navbar-nav(id='links')
		//- TODO fix SASS
		li: a.nav-link(href='#') Item One
		li.dropdown-switch
			.nav-link(href='#') Kurven
				ul.dropdown
					//TODO link to üpages with options -> read in script
					li: a.nav-link(href='#') 15/16
					li: a.nav-link(href='#') 14/15
					li: a.nav-link(href='#') 13/14
		li: a.nav-link(href='#') Item Two
		li: a.nav-link(href='#') Item Three



//- Example:
//-
//- .navbar.navbar-inverse.navbar-fixed-left
//- 	a.navbar-brand(href='#') Brand
//- 	ul.nav.navbar-nav
//- 		li.dropdown // Start of dropdown
//- 			a.dropdown-toggle(href='#', data-toggle='dropdown') Dropdown
//- 				span.caret
//- 			ul.dropdown-menu(role='menu')
//- 				li: a(href='#') Sub Menu1
//- 				li: a(href='#') Sub Menu2
//- 				li: a(href='#') Sub Menu3
//- 				li.divider
//- 				li: a(href='#') Sub Menu4
//- 				li: a(href='#') Sub Menu5
//-
//-
//- 		li: a(href='#') Link2
//- 		li:	a(href='#') Link3
//- 		li: a(href='#') Link4
//- 		li: a(href='#') Link5
