.navbar-fixed-left {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 0px !important;
  padding-top: 50px;
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 0;
  border-right: 2px solid #000; }
  .navbar-fixed-left ul {
    width: 100%;
    margin-bottom: 180px; }
    .navbar-fixed-left ul li {
      width: 100%;
      text-align: center; }
      .navbar-fixed-left ul li .nav-link {
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgba(77, 240, 252, 0.3);
        color: white !important;
        border: 2px #000 solid;
        border-left: 0px;
        border-right: 0px; }
        .navbar-fixed-left ul li .nav-link:hover {
          background-color: rgba(77, 240, 252, 0.75); }

html, body {
  height: 100%;
  background-color: #1490ab;
  background: url("assets/Best-Website-Background-Images10.jpg") no-repeat center center fixed;
  background-size: cover; }

.content {
  margin-left: 200px;
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px; }

.chart, .highcharts-container {
  height: 80vh;
  width: 100%; }

.card {
  width: 100%;
  margin: 20px; }

.footer {
  position: fixed;
  bottom: 10px;
  width: 200px;
  text-align: center; }
